body {
    background-color: peru;
}

.container {
    background-image: url(../images/image1.jpg);
}

.content {
    display: flex;
    padding-top:50px;
    margin-left: 200px;
}

.col {
    color: white;
    text-align: center;
    font-size: xx-large;
    width: 100;
}